
<% @responses.each do |resp| %>
<div class="response_item">
 
  <%= image_tag '/images/'+ resp.invitee.answer.name.downcase + '.jpeg', :class => 'response_small'%> 
  <strong class="full_name"><%= resp.invitee.full_name %></strong> replied: 
   <%= resp.invitee.answer.name %> 
   &nbsp;&nbsp;  on <span class="date"></span>
  <br />Guests: <%= resp.invitee.guests %>
  <br />
  
  <div class="message"><%= resp.message %></div>
</div>
<% end %>

